.body-main {
}

.wp-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
  margin: 10px;
  margin-left: 2%;
  font-size: x-large;
  font-weight: bold;
  border: 2px solid black;
  width: 11%;
}
